.button{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition:all 0.1s ease-in;
    transition:all 0.1s ease-in;
    outline: none;
}
.item{
    display: flex;
    flex-direction: row;
    margin-left:5%;
    color: #55514e;

    .title{
        margin-top: 5%;
        font-size: 40px;
        font-weight: 300;
        
    } 
    .detail{
        margin-top: 5%;
        font-size: 20px;
        font-weight: 300;

    }  
}

.input{
    background-color: #ffffff;
    height: 3em;
    border-radius: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}