<ion-content>
  <div class="button" (click)="backButton()">
    <img src="assets/icon/back.svg">
  </div>
  <!-- <div class="item">
    <div class="title">Delivery Address </div>
  </div>
  <div class="item">
    <div class="detail">Full name</div>
  </div>
  <input class="input" type="full_name" [(ngModel)]="full_name">

  <div class="item">
    <div class="detail">Last name</div>
  </div>
    <input class="input"  type="last_name" [(ngModel)]="last_name"> -->

  <!-- 
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input placeholder="Address"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="State"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-item>
  </ion-list> -->
</ion-content>