.button{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition:all 0.1s ease-in;
    transition:all 0.1s ease-in;
    outline: none;
}
.item{
    display: flex;
    flex-direction: row;
    margin-left:5%;
    color: #55514e;

    .title{
        margin-top: 5%;
        font-size: 40px;
        font-weight: 300;
    } 
    .detail{
        margin-top: 10%;
        font-size: 20px;
        font-weight: 300;
        margin-left: 5%;
    }  
}

.img{
    width: 100px;
    height: 100px;
    margin-top: 5%;
}


    .icon{
        width: 30%;
        height: 30%;
        margin-top: 50%;
        margin-left: 50%;
    }
    .icon1{
        width: 30%;
        height: 30%;
        margin-top: 50%;
        margin-left: 5%;
    }

    .num{
        margin-top: 10%;
        font-size: 40px;
        margin-left: auto;
    }
    .footer{  
        background-color: #f1e9d6;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 15px;
        left: 0;
        color: #55514e;
        text-align: center;  
      }
      