<ion-content>
    <div class="button" (click)="backButton()">
        <img src="assets/icon/back.svg">
    </div>
    <div class="item">
        <div class="title">Shopping Cart</div>
    </div>
    <div class="item">
            <img class="img" src="assets/img/e.jpg">
            <div class="detail">{{id}}</div>
            <div clear (click)="decrement()">
                <img class="icon" src="assets/icon/minus.svg">
            </div>
            <div class="num">{{qty}}</div>
            <div clear (click)="increment()">
                <img class="icon1" src="assets/icon/more.svg">
            </div>
    </div>
    <div class="footer" (click)="address(id,qty)">
            Confirm
        </div>

</ion-content>