<ion-content>
    <ion-slides pager [options]='slideOption'>
        <ion-slide *ngFor="let slide of slider">
            <img [src]="slide.image" />
        </ion-slide>
    </ion-slides>
    <div class="item">
        <div class="title">{{id}}</div>
    </div>
    <div class="item">
        <div class="price">{{price}}</div>
    </div>

    <div class="item">
        <div class="detail">
            This pink and red leather Madras Love wallet from Miu Miu features an envelope style,
            gold-tone hardware, a front logo plaque, an internal logo stamp, a note compartment and three credit card
            slots.
        </div>
    </div>
    <div class="item">
        <div class="detail">
                Leather 100%, Metal 100%
        </div>
    </div>
    <div class="footer" (click)="choose(id,price)">
        Buy Now
    </div>
</ion-content>