ion-content ion-toolbar {
  --background: #ffffff;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}


  .item{
    display: flex;
    flex-direction: row;
    margin-left:5%;
    color: #55514e;
    .title{
      margin-top: 7%;
      font-size: 40px;
      font-weight: 300;
    }
    .price{        
      font-size: 25px;
      font-weight: 200;
    }
      .detail{
        margin-top: 5%;
        margin-right: 3%;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: #94908d;
    }
}
.footer{  
  background-color: #f1e9d6;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  left: 0;
  color: #55514e;
  text-align: center;  
}

